# Ignore local editor history folders (e.g. VSCode Local History extension)
.history/
**/.history/
**/node_modules/
**/.venv/
Preptest Problem Statement - 1/Mock 1 for Milestone Assessment – Front-End and Database Integration.pdf
.env
*.zip
*/.vscode